.main {
    background: url('../images/backgroundrooms.jpg');
    background-position: top;
    background-size: 100% 560px;
    background-repeat: no-repeat;
}

.rooms_banner h1{
    font-weight: 700;
    color: #fff;
    font-size: 55px;
    padding-top: 250px;
    text-align: center;
    padding-bottom: 70px;
}

.rooms_content{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 3px;
    padding: 20px;
    background-color: #fff;
}

.rooms_content ul li a {
    color: black;
    cursor: pointer;
    font-weight: 500;
}
.rooms_item{
    text-decoration: none;
    margin-bottom: 20px;
}
.card-img-top{
    height: 200px;
}

.rooms_search{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding-top: 25px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 25px;
    height: 570px;
}

.btn_rooms_filter_submit{
    display: flex;
    align-items: center;
    justify-content: center;
}

