.separate {
    width: 2px;
    height: 60px;
    background-color: black;
}

.custom-input {
    padding: 8px 12px;
    margin-top: 6px;
    border-radius: 10px;
}

.custom-btn {
    width: 100px;
    height: 50px;
}

/* Banner */

.banner {
    background-image: url('../images/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.banner > .banner-content {
    position: relative;
    background-color: white;
    border-radius: 10px;
    padding: 16px;
    top: 90%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


/* Blog */
.blog-image {
    width: 500px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
}

.blog-image > img {
    width: 100%;
    height: 100%;
}

.blog-title {
    font-size: 48px;
}

/* Services */
.services {

}

.rooms-title,
.service-title {
    font-size: 48px;
}

.rooms-des,
.service-des {
    color: #828483;
}

.service-img {
    width: 100%;
    height: 500px;
}

.service-img > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.list-service {
    height: 100%;
}

.service-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    font-size: 20px;
}

.service-item > .service-logo {
    width: 70px;
    height: 70px;
    padding: 20px;
    border-radius: 50%;
    background-color: beige;
}

.service-item > .service-logo > .custom-logo {
    width: 30px;
    height: 30px;
}

/* Rooms */
.wrapper-room {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 0 0 40px;
}

.wrapper-room > .wrapper-room-img {
    width: 100%;
    height: 275px;
}

.wrapper-room > .wrapper-room-img > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.room-content {

}

.room-content > .room-price {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 16px;
}

.room-content > .room-price > span {
    font-size: 24px;
    font-weight: 400;
}
