{% extends 'manager/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'room/css/home.css' %}">
{% endblock %}

{% block content %}

<main>
    <div class="banner position-relative">
        <div class="container banner-content d-flex justify-content-center">
            <div class="inner d-flex gap-5 align-items-center justify-content-center">
                <div class="check-in">
                    <div class="check-in-icon">
                        <i class="fa-solid fa-calendar-days"></i>
                        CHECK-IN
                    </div>
                    <div class="check-in-date">
                        <input type="date" name="checkin" />
                    </div>
                </div>
                <div class="separate"></div>
                <div class="check-out">
                    <div class="check-out-icon">
                        <i class="fa-solid fa-calendar-days"></i>
                        CHECK-OUT
                    </div>
                    <div class="check-in-date">
                        <input type="date" name="checkout" />
                    </div>
                </div>
                <div class="separate"></div>
                <div class="adults">
                    <div class="adults-icon">
                        <i class="fa-regular fa-user"></i>
                        Adults
                    </div>
                    <div class="adults-date">
                        <input type="number" name="adults" />
                    </div>
                </div>
                <div class="separate"></div>
                <div class="children">
                    <div class="children-icon">
                        <i class="fa-solid fa-child"></i>
                        Children
                    </div>
                    <div class="children-date">
                        <input type="number" name="children" />
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 100px;">
        <div class="blog">
            <div class="row">
                <div class="col-6 d-flex justify-content-center">
                    <div class="blog-image"><img  src="{% static 'room/images/blog.jpg' %}" alt="Blog"></div>
                </div>
                <div class="col-6">
                    <div class="blog-content">
                        <h3 class="blog-title">We strived only for the best</h3>
                        <div class="blog-separate"></div>
                        <p class="blog-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                    </div>
                    <div>
                        <button class="btn btn-primary">Continue</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="services">
            <h3 class="service-title">See our services</h3>
            <p class="service-des">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            <div class="row">
                <div class="col-6">
                    <div class="list-service">
                        <div class="service-item">
                            <div class="service-logo">
                                <i class="fa-solid fa-utensils"></i>
                            </div>
                            Quality Food
                        </div>
                        <div class="service-item">
                            <div class="service-logo">
                                <i class="fa-solid fa-shield-halved"></i>
                            </div>
                            High Security
                        </div>
                        <div class="service-item">
                            <div class="service-logo">
                                <i class="fa-solid fa-calendar-days"></i>
                            </div>
                            Quick Service
                        </div>
                        <div class="service-item">
                            <div class="service-logo">
                                <i class="fa-regular fa-clock"></i>
                            </div>
                            24 Hours Alert
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="service-img">
                        <img src="{% static 'room/images/food.jpg' %}" alt="Service Banner">
                    </div>
                </div>
            </div>
        </div>
        <div class="rooms">
            <h3 class="rooms-title">Choose best package</h3>
            <p class="rooms-des">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that</p>
            <div class="row">
                <div class="col-4">
                    <div class="wrapper-room">
                        <div class="wrapper-room-img">
                            <img src="https://images.unsplash.com/photo-1596394516093-501ba68a0ba6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                        </div>
                        <div class="room-content text-center mt-4">
                            <h4 class="room-type">Classic Room</h4>
                            <div class="room-price">
                                $150 / <span>per night</span>
                            </div>
                            <div class="room-services d-flex flex-column gap-1 mb-3">
                                <div class="room-service-item">free wifi</div>
                                <div class="room-service-item">breakfast</div>
                                <div class="room-service-item">1 beds in room</div>
                                <div class="room-service-item">2 people in room</div>
                            </div>
                            <div class="room-btn">
                                <button type="button" class="btn btn-primary">Select package</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="wrapper-room">
                        <div class="wrapper-room-img">
                            <img src="https://images.unsplash.com/photo-1596394516093-501ba68a0ba6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                        </div>
                        <div class="room-content text-center mt-4">
                            <h4 class="room-type">Classic Room</h4>
                            <div class="room-price">
                                $150 / <span>per night</span>
                            </div>
                            <div class="room-services d-flex flex-column gap-1 mb-3">
                                <div class="room-service-item">free wifi</div>
                                <div class="room-service-item">breakfast</div>
                                <div class="room-service-item">1 beds in room</div>
                                <div class="room-service-item">2 people in room</div>
                            </div>
                            <div class="room-btn">
                                <button type="button" class="btn btn-primary">Select package</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="wrapper-room">
                        <div class="wrapper-room-img">
                            <img src="https://images.unsplash.com/photo-1596394516093-501ba68a0ba6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                        </div>
                        <div class="room-content text-center mt-4">
                            <h4 class="room-type">Classic Room</h4>
                            <div class="room-price">
                                $150 / <span>per night</span>
                            </div>
                            <div class="room-services d-flex flex-column gap-1 mb-3">
                                <div class="room-service-item">free wifi</div>
                                <div class="room-service-item">breakfast</div>
                                <div class="room-service-item">1 beds in room</div>
                                <div class="room-service-item">2 people in room</div>
                            </div>
                            <div class="room-btn">
                                <button type="button" class="btn btn-primary">Select package</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}