{% extends 'manager/base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'room/css/rooms.css' %}" />
{% endblock %} {% block content %}

<main class="main mb-5">
    <div class="rooms_banner">
        <h1>Rooms Offers</h1>
    </div>

    <div class="container">
        <div class="rooms_content">
            <ul class="nav gap-4 justify-content-center">
                <li class="nav-item {% if request.path == '/rooms/' and not request.GET.sort %}active{% endif %}">
                    <a href="/rooms" class="nav-link">DEFAULT</a>
                </li>
                <li class="nav-item {% if request.GET.sort == 'asc' %}active{% endif %}">
                    <a href="/rooms/?sort=asc" class="nav-link">PRICE LOW TO HIGH</a>
                </li>
                <li class="nav-item {% if request.GET.sort == 'desc' %}active{% endif %}">
                    <a href="/rooms/?sort=desc" class="nav-link">PRICE HIGH TO LOW</a>
                </li>
            </ul>
            <div class="row" style="padding-top: 40px">
                <div class="col-9 rooms_list row">
                    {% for room in rooms %}
                    <a href="/rooms/{{ room.pk }}" class="rooms_item col-6">
                        <div class="card">
                            <img
                                src="{{ room.fields.banner }}"
                                class="card-img-top img-fluid"
                                alt="..."
                            />
                            <div class="card-body">
                                <h5 class="card-title">{{ room.fields.name }}</h5>
                                <p class="card-text">${{ room.fields.price }}</p>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                <div class="col-3 rooms_search">
                    <form method="GET" action="">
                        <h4 style="text-align: center">Your Reservation</h4>
                        <div class="mt-4">
                            <label class="form-label">Check In</label>
                            <input type="date" class="form-control" />
                        </div>
                        <div class="mt-3">
                            <label class="form-label">Check Out</label>
                            <input type="date" class="form-control" />
                        </div>
                        <div class="mt-3">
                            <label class="form-label">Adults</label>
                            <select
                                class="form-select"
                                aria-label="Default select example"
                                name="adults"
                            >
                                <option {% if not adults %} selected {% endif %} value="">Select the number of adults</option>
                                <option {% if adults == '1' %} selected {% endif %} value="1">1</option>
                                <option {% if adults == '2' %} selected {% endif %} value="2">2</option>
                                <option {% if adults == '3' %} selected {% endif %} value="3">3</option>
                                <option {% if adults == '4' %} selected {% endif %} value="4">4</option>
                                <option {% if adults == '5' %} selected {% endif %} value="5">5</option>
                                <option {% if adults == '6' %} selected {% endif %} value="6">6</option>
                            </select>
                        </div>

                        <div class="mt-3">
                            <label class="form-label">Children</label>
                            <select
                                class="form-select"
                                aria-label="Default select example"
                                name="children"
                            >
                                <option {% if not children %} selected {% endif %} value="0">Select the number of children</option>
                                <option {% if children == '1' %} selected {% endif %} value="1">1</option>
                                <option {% if children == '2' %} selected {% endif %} value="2">2</option>
                                <option {% if children == '3' %} selected {% endif %} value="3">3</option>
                                <option {% if children == '4' %} selected {% endif %} value="4">4</option>
                                <option {% if children == '5' %} selected {% endif %} value="5">5</option>
                                <option {% if children == '6' %} selected {% endif %} value="6">6</option>
                            </select>
                        </div>

                        <div class="mt-3">
                            <label class="form-label">Min Price</label>
                            <input type="number" name="min_price" class="form-control" value="{% if min_price %}{{ min_price }}{% else %}0{% endif %}" />
                        </div>

                        <div class="mt-3">
                            <label class="form-label">Max Price</label>
                            <input type="number" name="max_price" class="form-control" value="{% if min_price %}{{ max_price }}{% else %}10000{% endif %}" />
                        </div>

                        <div class="btn_rooms_filter_submit mt-3">
                            <button class="btn btn-success">
                                Filter Result
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
