{% extends 'manager/pages/dashboard.html' %} 
{% load crispy_forms_tags %} 
{% block dashboard_section %}
<main>
    <div class="container">
        {% if message %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endif %}
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div>
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
</main>
{% endblock %}
