.about_banner{
    background: url('../images/backgroundabout.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}


/* about book now */

.about_book{
    background-color: #f7f8f9;

}

.about_book .row>*{
    padding: 0;
}
.wrap_about_book {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    
}

.about_book_content{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #fff;
}
.about_book_item{
    text-align: center;
}


/* contact  */

.contact{
    background-color: #212121;
    padding: 50px 0;
    color: #fff;
}

.contact_information h5{
    padding-bottom: 15px;
}
.contact_information a {
    text-decoration: none;
}