footer {
    box-shadow: 0px -2px 6px 0px rgba(0,0,0,0.75);
}

a{
    color: black;
    text-decoration: none;
}

.ftco-footer .ftco-footer-widget h2 {
    font-weight: normal;
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: 700;
    font-family: "Poppins", Arial, sans-serif;
}
