{% extends 'manager/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="menu">
                <div class="logo">
                    <!-- <img src="" alt=""> -->
                    <a href="/">Group 2</a>
                </div>
                <div class="menu-list">
                    <div class="item">
                        Dashboard
                    </div>
                    <div class="item">
                        Bookings
                    </div>
                    <div class="item">
                        Customers
                    </div>
                    <a href="{% url 'all-room' %}" class="d-block item">
                        Rooms
                    </a>
                    <a href="{% url 'services' %}" class="item">
                        Services
                    </a>
                    <div class="item">
                        Settings
                    </div>
                </div>
            </div>
            <div class="logout">
                <a href="/logout">Logout</a>
            </div>
        </div>
        <div class="col-9">
            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                <div class="container">
                    <form class="d-flex my-2 my-lg-0">
                        <input
                            class="form-control me-sm-2"
                            type="text"
                            placeholder="Search"
                        />
                        <button
                            class="btn btn-outline-success my-2 my-sm-0"
                            type="submit"
                        >
                            Search
                        </button>
                    </form>
                    <div class="notification d-flex gap-3">
                        <div class="noti">
                            <i class="fa-regular fa-bell" style="width: 20px; height: 20px;"></i>
                        </div>
                        <div class="mail">
                            <i class="fa-regular fa-envelope" style="width: 20px; height: 20px;"></i>
                        </div>
                    </div>
                </div>
            </nav>
            {% block dashboard_section %}{% endblock %}
        </div>
    </div>
</div>

{% endblock %}