{% extends 'manager/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'manager/css/dashboard.css' %}" />
{% endblock %} 

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="menu">
                <div class="logo">
                    <!-- <img src="" alt=""> -->
                    <a href="/">Group 2</a>
                </div>
                <div class="menu-list d-flex flex-column gap-1">
                    <a href="{% url 'dashboard' %}" class="item {% if request.path == '/wp-admin/' %}item-active{% endif %}">
                        <i class="fa-solid fa-archway" style="margin-right: 10px;"></i>
                        Dashboard
                    </a>
                    <a href="{% url 'all-booking' %}" class="item {% if request.path == '/wp-admin/booking/' %}item-active{% endif %}">
                        <i class="fa-brands fa-first-order-alt" style="margin-right: 10px;"></i>
                        Bookings
                    </a>
                    <a href="{% url 'all-customers' %}" class="item {% if request.path == '/wp-admin/customers/' %}item-active{% endif %}">
                        <i class="fa-solid fa-user-group" style="margin-right: 10px;"></i>
                        Customers
                    </a>
                    <a 
                        href="{% url 'all-room' %}" 
                        class="
                            d-block 
                            item 
                            {% if request.path == '/wp-admin/rooms/' or request.path == '/wp-admin/rooms/create/' or request.path == '/wp-admin/room-types/' or request.path == '/wp-admin/room-types/create' %}item-active{% endif %}"
                        >
                        <i class="fa-solid fa-hotel" style="margin-right: 10px;"></i>
                        Rooms
                    </a>
                    <a href="{% url 'services' %}" class="item {% if request.path == '/wp-admin/services/' %}item-active{% endif %}">
                        <i class="fa-brands fa-servicestack" style="margin-right: 10px;"></i>
                        Services
                    </a>
                    <div class="item">
                        <i class="fa-solid fa-gears" style="margin-right: 10px;"></i>
                        Settings
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                <div class="container">
                    <form action="/wp-admin/room-types/" class="d-flex my-2 my-lg-0">
                        <input
                            class="form-control me-sm-2"
                            type="text"
                            name="search"
                            placeholder="Search"
                            value="{{ search }}"
                        />
                        <button
                            class="btn btn-outline-success my-2 my-sm-0"
                            type="submit"
                        >
                            Search
                        </button>
                    </form>
                    <div class="notification d-flex gap-3">
                        <div class="noti">
                            <i class="fa-regular fa-bell" style="width: 20px; height: 20px;"></i>
                        </div>
                        <div class="mail">
                            <i class="fa-regular fa-envelope" style="width: 20px; height: 20px;"></i>
                        </div>
                    </div>
                </div>
            </nav>
            {% block dashboard_section %}{% endblock %}
        </div>
    </div>
</div>

{% endblock %}