{% extends 'manager/pages/dashboard.html' %}

{% block dashboard_section %}
<main>
    <section class="content">
        <div class="container">
            <div class="row mb-4">
                <div class="col-12 d-flex gap-3">
                    <div class="statistic-card">
                        <div>
                            <i class="fa-solid fa-chart-simple"></i>
                        </div>
                        <div class="statistic-content">
                            <div class="statistic-number">75</div>
                            <h4>Total Booking</h4>
                        </div>
                    </div>
                    <div class="statistic-card">
                        <div>
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="statistic-content">
                            <div class="statistic-number">12,200</div>
                            <h4>Total Customers</h4>
                        </div>
                    </div>
                    <div class="statistic-card">
                        <div>
                            <i class="fa-solid fa-chart-simple"></i>
                        </div>
                        <div class="statistic-content">
                            <div class="statistic-number">$58,947</div>
                            <h4>Total Revenue</h4>
                        </div>
                    </div>
                    <div class="statistic-card">
                        <div>
                            <i class="fa-solid fa-chart-simple"></i>
                        </div>
                        <div class="statistic-content">
                            <div class="statistic-number">$58,947</div>
                            <h4>Total Revenue</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
