{% extends 'manager/pages/dashboard.html' %}

{% block dashboard_section %}
<main>
    <section class="content mt-3">
        <div class="container">
            <div class="row mb-4">
                <div class="col-12 d-flex gap-3">
                    <div class="statistic-card">
                        <div class="statistic-icon">
                            <i class="fa-solid fa-chart-simple"></i>
                        </div>
                        <div class="statistic-content">
                            <div class="statistic-number">{{ booking }}</div>
                            <h4>Total Booking</h4>
                        </div>
                    </div>
                    <div class="statistic-card">
                        <div class="statistic-icon">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="statistic-content">
                            <div class="statistic-number">{{ customers }}</div>
                            <h4>Total Customers</h4>
                        </div>
                    </div>
                    <div class="statistic-card">
                        <div class="statistic-icon">
                            <i class="fa-solid fa-chart-simple"></i>
                        </div>
                        <div class="statistic-content">
                            <div class="statistic-number">${{ revenue }}</div>
                            <h4>Total Revenue</h4>
                        </div>
                    </div>
                    <div class="statistic-card">
                        <div class="statistic-icon">
                            <i class="fa-solid fa-chart-simple"></i>
                        </div>
                        <div class="statistic-content">
                            <div class="statistic-number">$58,947</div>
                            <h4>Total Revenue</h4>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-5">
                    <canvas id="myChart"></canvas>
                </div>
                <div class="col-12 mt-5">
                    <canvas id="myChart2"></canvas>
                </div>
            </div>
        </div>
    </section>
</main>
<script>
    const ctx = document.getElementById('myChart');
    const ctx2 = document.getElementById('myChart2');
  
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Presidential Suite', 'Mini Suite', 'Non-Smoking Room', 'King Bathtub', 'Triple Room', 'Quad Room'],
            datasets: [{
                label: '# of Products',
                data: [65, 59, 80, 81, 56, 55, 40],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(201, 203, 207, 0.2)'
                ],
                borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                    'rgb(201, 203, 207)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
            y: {
                beginAtZero: true
            }
            }
        }
    });

    new Chart(ctx2, {
        type: 'line',
        data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
            datasets: [{
                label: 'Revenue',
                data: [65, 59, 80, 81, 56, 55, 40],
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        },
        options: {
            scales: {
            y: {
                beginAtZero: true
            }
            }
        }
    });
</script>
{% endblock %}
